.search {
    width: 230px;
    position: absolute;
    display: flex;
    top: 5px;
    right: 15px;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #11631b;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #11631b;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #11631b;
    background: #11631b;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
    text-decoration: none;
}

.pagination a.current-page {
    font-weight: bold;
}

.pagination a:hover {
    background-color: #ddd;
}

  